# Dependencies
node_modules/

# Build output
build/
.firebase/

# Environment files
.env

# Firebase admin credentials 
firebase-adminsdk-*.json

# OS-specific files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*